@font-face {
    font-family: 'poppinslight';
    src: url('https://log.sbond.ml/fonts/poppins/poppins-light-webfont.woff2') format('woff2'),
         url('https://log.sbond.ml/fonts/poppins/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'poppinsmedium';
    src: url('https://log.sbond.ml/fonts/poppins/poppins-medium-webfont.woff2') format('woff2'),
         url('https://log.sbond.ml/fonts/poppins/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'corleone';
    src: url('https://log.sbond.ml/fonts/corleone/corleone-webfont.woff2') format('woff2'),
         url('https://log.sbond.ml/fonts/corleone/corleone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'corleonedue';
    src: url('https://log.sbond.ml/fonts/corleone/corleonedue-webfont.woff2') format('woff2'),
         url('https://log.sbond.ml/fonts/corleone/corleonedue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

pre {
  overflow: auto;
  display: block;
  position: relative;
  // word-break: break-all;
  // word-wrap: break-word;
  // white-space: pre-wrap;
  // padding: 1rem 1rem 2rem;
  font-size: 0.75em;
  //background-color: #fafafa;
  color: #fff;
  background-color: #292929;
  font-family: Source Code Pro, monocode, monospace;
  border-radius: .40rem;
  line-height: 1.4;
  padding: 9.5px;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;

code {
  background-color: #EEE;
}
