{{ partial "nav.html" . }}
{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-80 w-60-ns center center-ns mv2 mv5-ns">
<section id="main" class="mt5">
    <div>
      <ul id="list" class="pl0">
        {{ range .Pages.ByTitle }}
          <a href="{{.Page.Permalink}}">
            <li class="catList f3 b dib black no-underline">
                <span>{{ .Page.Title }}</span>
            </li>
          </a>
          <br />
        {{ end }}
      </ul>
    </div>
  </section>
  {{ partial "footer.html" . }}
  </body>
</html>
