/*.Image {
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 3px;
  display: inline-block;
}

.Banner {
  padding-bottom: 0.5em;
  background-color: #313131;
  color: white;
  font-size: 130%;
  line-height: 125%;
  text-transform: none;
  font-family: sans-serif;
}

.BannerText {
  margin: 0.75em 0.5em 0.5em 1em;
}

.hamburger {
  position: absolute;
  display: none;
  width: 1.6em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid #fff;
  border-bottom: 0.2em solid #fff;
  cursor: pointer;
  right: 2em;
  top: 28px;
}

.hamburger:before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #fff;
}

.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

.catList {
  list-style: none;
  list-style-position: inside;
  border-left: 2px solid;
  padding: .3em 1em;
  margin-bottom: 8px;
  width: 100%;
  transition: all .8s ease;
}

.catList:hover {
  transform: translateX(10px);
  border-radius: 5px;
  background: url(https://ul.sbond.co/i/gif/artgo.webp);
  background-size: 100px;
  background-position: center -15px;
  cursor: pointer;
}

.catList:hover span {
  transition: all .5s ease;
  color: white;
  text-shadow: 2px 2px #000;
}

@media screen and (max-width: 1000px) {
  nav .menu {
    display: none;
    height: 40px;
  }
  .searchSVG {
    visibility: hidden;
  }
  .hamburger {
    display: grid;
  }
  .logo-hidden {
    display: block;
  }
  .catList:hover {
    transform: translateX(10px);
    border-radius: 5px;
    background-image: url();
    background-color: #09de64;
    background-size: 100px;
    background-position: center -15px;
    cursor: pointer;
  }
  .catList:hover a {
    transition: all .5s ease;
    color: black;
    text-shadow: none;
  }
}

@media screen and (max-width: 600px) {
  .navDisappear {
    display: none;
  }
}

@media screen and (max-width: 200px) {
  .logo-hidden {
    display: none;
  }
}

.searchSVG {
  display: block;
  margin: auto;
  position: relative;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  top: -23px;
  cursor: pointer;
  fill: white;
}

.searchSVG:hover {
  fill: rgba(255, 255, 255, .5);
}

.homeSearch {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: block;
  width: 40%;
  background: none;
  outline: none;
  border: none;
  height: 1.6em;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-indent: 5px;
  box-shadow: 2px 0px black;
}

.homeSearch:hover {
  box-shadow: 2px 2px black;
}

.search {
  width: 100%;
  height: 3em;
  outline: none;
  border: none;
  float: right;
  position: absolute;
  top: 64px;
  color: white;
  font-size:.875rem;
  font-weight:600;
  padding-left:2rem;
  padding-right:2rem;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  background: none;
  top: 0;
  left: 0;
  z-index: 1;
  animation-name: searchAnim;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes searchAnim {
  from{ transform: translatey(-100px) }
	to{ transform: translatey(64px) }
}

.hamburger-drop {
  border: none;
  background: none;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  animation-name: hamburger-drop;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hamburger-drop {
  from{ transform: translatey(-100px) }
	to{ transform: translatey(106px) }
}

.hidden {
  display: none;
}

@keyframes navmove {
  from{ transform: translatey(-100px) }
	to{ transform: translateX() }
}

html {
  animation-name: ulMove;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes ulMove {
  from { transform: translatey(-100px) }
	to { transform: translateX() }
}

body { margin:0;}

.stat {
  float: left;
  padding-right: 50px;
  padding-top: 30px;
  font-family: poppinslight, sans-serif;
  text-decoration: none;
}

.stat2 {
  float: left;
  padding-right: 50px;
  padding-top: 30px;
  font-family: poppinslight, sans-serif;
  text-decoration: none;
  animation-name: stats;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes stats {
  from { transform: translateX(0) }
  to { transform: translateX(10px) }
  0% {
    color: rgba(0, 0, 0, 0);
  }
  100% {
    color: rgba(0, 0, 0, 1);
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}*/
