<head>
    {{ partial "header.html" . }}
</head>
<body>

    {{ partial "nav.html" . }}

    {{ $baseurl := .Site.BaseURL }}

    <section id="main">
        <div class="postContainer">
            <h2 class="title">{{ .Title }}</h2>

            <span class="meta">
                By
                <a class="underline" href="/a/{{ .Params.authorspaceless }}">
                    {{ .Params.author }}
                </a>
                on {{ .Date.Format "2 January, 2006" }}
            </span>

            <article>
                {{ .Content }}
            </article>

            <div class="cats">

                <img class="grow" src="{{ .Site.Params.catIcon }}" alt="Categories" width="20" height="20" />

                {{ range $i := (slice "categories" "tags") }}
                {{ with ($.Param $i) }}
                {{ range $k := . }}

                <a class="underline dim" href="{{ relURL (print "/" $i "/" $k | urlize) }}">{{$k}}</a>

                {{ end }}
                {{ end }}
                {{ end }}

            </div>
        </div>
    </section>

    {{ partial "footer.html" . }}

    <script src="/js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
