<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
<meta name="description" content="{{ if (or (.Description) (.Summary)) }}{{ .Description | default .Summary }} | {{ else }} {{ .Site.Params.Description }} {{ end }}" />
<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0" />

<!-- Open Graph -->
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ .Description }}" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:image" content="{{ .Site.Params.pngIcon }}" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:locale" content="{{ .Site.LanguageCode }}" />
<meta property="article:published_time" content="{{ .Date.Format "01-02-2006"}}" />
<meta property="article:modified_time" content="{{ .Date.Format "01-02-2006"}}" />

{{ range $i := (slice "categories") }}
    {{ with ($.Param $i) }}
        {{ range $k := . }}
        <meta property="article:tag" content="{{$k}}" />
        {{ end }}
    {{ end }}
{{ end }}

<!-- Twitter -->
{{ if .Site.Params.Twitter }}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ .Site.Params.Twitter }}" />
<meta name="twitter:creator" content="@{{ .Site.Params.Twitter }}" />
<meta name="twitter:title" content="{{ if .Title }} {{ .Title }} | {{ end }} {{ .Site.Title }}" />
<meta name="twitter:description" content="{{ if (or (.Description) (.Summary)) }}{{ .Description | default .Summary }} | {{ end }} {{ .Site.Params.Description }}" />
<meta name="twitter:image" content="{{ .Site.Params.pngIcon }}" />
<meta name="twitter:domain" content="{{ .Permalink }}" />
{{ end }}
