<html>
<head>
    {{ partial "header.html" . }}
</head>
<body>
    <div class="content homeContainer">
        <div class="portal">
            <input id="portalInput" class="title" type="text" value="{{ .Site.Title }}"/>
            <a id="portalLink" class="npe" href="#">
                <label id="portalLabel">{{ .Site.Title }}</label>
            </a>
        </div>

        <ul class="list pl0 sans-serif">
            {{ range .Site.Params.menu }}
            <a class="dim" href="{{ .url }}">
                <li>{{ .name }}</li>
            </a>
            {{ end }}
        </ul>

        <form action="/s/search.php" method="get">
            <input class="searchbar" type="text" name="q" placeholder="Search sbondLog..." autocomplete="off">
        </form>

        {{ partial "footer.html" . }}
    </div>
</body>
</html>