.resultsContainer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  margin-top: 0.5rem;

  #amount {
    text-align: center;
  }

  #results {
    margin-top: 0.5rem;
  }
}

#resultsSearchForm {
  position: relative;

  .spinner {
    position: absolute;
    top: 7.5px;
    right: 10px;
  }
}
