* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    line-height: 1.15;
}

body {
    font-family: sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 1.4rem 0;
}

ol {
    padding-left: 40px;
}

p {
    margin: 1rem 0;
}

p, span {
    line-height: 1.5;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 60%;
    margin: 100px 30px;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1000px) {
        width: 90%;
    }
}

// Effects

.underline {
    padding-bottom: .25rem;
    border-bottom: .15rem solid black;
}

.dim {
    opacity: 1;
    transition: opacity 150ms ease-in;

    &:hover {
        opacity: .5;
    }
}

.grow {
    transition: transform 150ms ease;

    &:hover {
        transform: scale(1.2);
    }
}

.hoverBlue:hover {
    color: #357edd;
}

.hoverDarkBlue:hover {
    color: #00449e;
}

.hoverFillDarkBlue:hover {
    fill: #00449e;
}

.hoverRed:hover {
    color: #e7040f;
}

// Mixins

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-o-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}